@import './theme-core';

$default-primary: mat-palette($mat-indigo);
$default-accent:  mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$default-warn:    mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$default-theme: mat-light-theme($default-primary, $default-accent, $default-warn);

// mat hack
$localPrimary: map-get(map-get($default-theme, primary), 500); 
$localAccent: map-get(map-get($default-theme, accent), 500); 
$localWarn: map-get(map-get($default-theme, warn), 500); 

// md button uppercase patch
button[md-raised-button] {
  text-transform: uppercase;
}

md-hint.warn {
  color: $localWarn;
}

@include angular-material-theme($default-theme);