<header class="container-fluid chatroom">
  <md-toolbar class="col" color="primary">
    <div>
    brand <b>chatroom-node</b></div>

    <nav>
      nav bar
    </nav>

  </md-toolbar>

</header>

<div class="chatHolder container-fluid">
  <aside class="col-md-3">
    <md-card>
      <md-card-header>
        list of chats
      </md-card-header>
      <md-card-content>
        <ul>
          <li>img 甲</li>
          <li>img 乙</li>
          <li>img 丙</li>
        </ul>
      </md-card-content>
    </md-card>
    
  </aside>
      
  <main class="col-md-8">
    <md-card class="chat">
      <md-card-header>
        chatroom
      </md-card-header>
      <md-card-content>
          chat 1 2 3 4 5
      </md-card-content>
    </md-card>
    <md-card class="input">
      <md-card-content>
        input bar
      </md-card-content>
    </md-card>
  </main>
</div>



