<header class="container-fluid chatroom">
  <mat-toolbar class="col" color="primary">
    <div>
    brand <b>chatroom-node</b></div>

    <nav>
      nav bar
    </nav>

  </mat-toolbar>

</header>

<div class="chatHolder container-fluid">
  <aside class="col-md-3">
    <mat-card>
      <mat-card-header>
        list of chats
      </mat-card-header>
      <mat-card-content>
        <ul>
          <li>img 甲</li>
          <li>img 乙</li>
          <li>img 丙</li>
        </ul>
      </mat-card-content>
    </mat-card>
    
  </aside>
      
  <main class="col-md-8">
    <mat-card class="chat">
      <mat-card-header>
        chatroom
      </mat-card-header>
      <mat-card-content>
          chat 1 2 3 4 5
      </mat-card-content>
    </mat-card>
    <mat-card class="input">
      <mat-card-content>
        input bar
      </mat-card-content>
    </mat-card>
  </main>
</div>



