<div class="bg"></div>

<section class="signupForm">
  <form [formGroup]="form" class="col-md-4 col-sm-12">
    <mat-card>
      <mat-card-content>

        <mat-form-field>
          <input  formControlName="email" mdInput placeholder="Email" [(ngModel)]="newUser.email" maxlength="30" name="email" [required]="true">
          <mat-hint class="warn" *ngIf="form.controls.email.invalid && (form.controls.email.dirty || form.controls.email.touched)" align="end">Your email is invalid</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <input formControlName="password" mdInput type="password" placeholder="Password" [(ngModel)]="newUser.password" maxlength="30" name="password" [required]="true">
            <mat-hint class="warn" *ngIf="form.controls.password.hasError('minlength') && (form.controls.password.dirty || form.controls.password.touched)" align="end">Your password is too short</mat-hint>
        </mat-form-field>

        <mat-form-field>
          <input formControlName="repeatPassword"  mdInput type="password" placeholder="Confirm Password" [(ngModel)]="repeatPassword" name="repeatPassword" maxlength="30" [required]="true">
          <mat-hint class="warn" *ngIf="form.controls.repeatPassword.hasError('matchOther') && (form.controls.repeatPassword.dirty || form.controls.repeatPassword.touched)" align="end">Your passwords are mismatched</mat-hint>
        </mat-form-field>

      </mat-card-content>
      <mat-card-actions>
          <button mat-raised-button color="primary" (click)="signup()">Sign up</button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>