<div class="bg"></div>

<section class="signupForm">
  <form class="col-md-4 col-sm-12">
    <md-card>
      <md-card-content>

        <md-form-field>
          <input #email="ngModel" mdInput placeholder="Email" [(ngModel)]="newUser.email" maxlength="30" name="email" [required]="true" pattern="^[\w-]+(\.[\w-]+)*@[\w-]+(\.[\w-]+)+$">
          <md-hint class="warn" *ngIf="email.errors && (email.dirty || email.touched)" align="end" color="warn">Your email is invalid</md-hint>
        </md-form-field>

        <md-form-field>
            <input #pswd="ngModel" mdInput type="password" placeholder="Password" [(ngModel)]="newUser.password" maxlength="30" name="password" [required]="true" validateEqual="pswdRepeat" reverse="true">
        </md-form-field>

        <md-form-field>
          <input #pswdRepeat="ngModel"  mdInput type="password" placeholder="Confirm Password" name="passwordConfirm" [(ngModel)]="newUser.passwordConfirm" maxlength="30" [required]="true" validateEqual="pswd">
          <md-hint class="warn" *ngIf="pswdRepeat.invalid && (pswdRepeat.dirty || pswdRepeat.touched)" align="end" color="warn">Your pswd is mis-matched</md-hint>
        </md-form-field>

      </md-card-content>
      <md-card-actions>
          <button md-raised-button color="primary">Sign up</button>
      </md-card-actions>
    </md-card>
  </form>
</section>