<main>
  <mat-card class="chat">
    <mat-card-header>
      <span class="name">name</span>
      <span class="action">V</span>
    </mat-card-header>
    <mat-card-content>

      <ol class="chatroom">
        <li class="dialog received">
          <div class="avatarHolder">avatar</div>
          <div class="messageHolder">
            <p class="name">name</p>
            <div class="message">
              饿了么
            </div>
          </div>
        </li>
        <li class="dialog sent">
          <div class="avatarHolder">avatar</div>
          <div class="messageHolder">
            <p class="name">You:</p>
            <div class="message">
              饿死了
            </div>
          </div>
        </li>
        <li class="dialog received">
          <div class="avatarHolder">avatar</div>
          <div class="messageHolder">
            <p class="name">name</p>
            <div class="message">
              是么那就太高兴了你造么我一直以来就梦想着有一天我能够在吃着酸菜鱼 水煮牛肉 川辣黄瓜 宫保鸡丁 回锅肉 
              鱼香肉丝 干煸鳝鱼丝 锅巴肉片 红油抄手 辣子鸡丁 
              家常豆腐 鱼香茄子 毛肚火锅 干蒸黄鱼 火爆腰花 
              合川肉片 灯影牛肉 夫妻肺片 麻婆豆腐 麻油鸡 
              棒棒鸡 担担面 剁椒胖鱼头  椒油扁豆 石斛花生米 
              姜汁热味鸡 干烧鸡翅 小笼粉蒸牛肉 箩粉鱼头豆腐汤
              的时候听你说着饿死了 像我这样一口气说这么长的不超过3个boom
            </div>
          </div>
        </li>
        <li class="dialog sent">
          <div class="avatarHolder">avatar</div>
          <div class="messageHolder">
            <p class="name">You:</p>
            <div class="message">
              哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦
              哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦
              哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦
              哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦
              哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦
              哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦
              哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦
              哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦哦
            </div>
          </div>
        </li>
      </ol>

    </mat-card-content>
  </mat-card>
  <mat-card class="input">
    <mat-card-content>
      <form>
        <mat-form-field class="msgInput">
          <textarea matInput placeholder="type some message" maxlength="1000"></textarea>
        </mat-form-field>
        <button class="send" mat-raised-button color="primary">Send</button>
      </form>
    </mat-card-content>
  </mat-card>
</main>





