main {
  padding: 0px;

}

ol {
  list-style-type: none;
  padding: 0px;
}

mat-card.chat {
  height: 66vh;
  overflow-y: scroll;
  padding: 0px;

  mat-card-header {
    top: 0px;
    height: 2em;
    font-size: 1.1rem;
    padding-top: 0.75em;
    span.action {
      position: absolute;
      right: 3em;
    }
  }
  mat-card-content {
    margin-top: 1em;
    padding: 0px 24px;

    li.dialog {
      margin: 1em;
      display: flex;
      div.avatarHolder {
        width: 64px;
        height: 64px;
        background-color: #eeeeee;
        position: relative;
      }
      div.messageHolder {
        margin-left: 1em;
        margin-right: 1em;
        max-width: 60%;
        order: 1;

        p.name {
          margin: 0.75em;
          font-weight: bold;
        }
        div.message {
          background-color: #eeeeee;
          padding: 1em;
          min-height: 1.5em;
          font-size: 1em;
          word-wrap: break-word;
        }
      }
    }

    li.sent {
      justify-content: flex-end;
      // align-items: flex-end;
      div.avatarHolder {
        order: 2;
      }
      div.messageHolder {
        p.name {
          text-align: right;
        }
      }
    }
  }
}

mat-card.chat::-webkit-scrollbar {
  display: none;
}

mat-card.input {
  margin: 1em 0em;
  mat-form-field.msgInput {
    width: 80%;
  }
  button.send {
    position: absolute;
    right: 1em;
    top: 2.75em;
  }
}