<main>
  <mat-card class="chat">
    <mat-card-header>
      <span class="name">name</span>
      <span class="action">V</span>
    </mat-card-header>
    <mat-card-content>
      
      <div class="dialog recieved"> <!-- ngfor -->
        <div class="avatarHolder">avatar</div>
        <div class="messageHolder">
          <p class="name">name</p>
          <div class="message">
            饿了么
          </div>
        </div>
      </div>

      <div class="dialog sent">
        <div class="avatarHolder">avatar</div>
        <div class="messageHolder">
          <p class="name">You:</p>
          <div class="message">
            饿死了
          </div>
        </div>
      </div>



    </mat-card-content>
  </mat-card>
  <mat-card class="input">
    <mat-card-content>
      input bar
    </mat-card-content>
  </mat-card>
</main>





